# Import data

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
path = r'C:\Users\justi\OneDrive\Documents\Career foundry\Data Immersion 4'

In [3]:
df = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'df_active_users.pkl'))

In [4]:
df_dep = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'departments_wrangled.csv'), index_col = False)

In [6]:
df_dep.rename(columns = {'Unnamed: 0' : 'department_id'}, inplace = True)

In [8]:
df_cust_depts = df.merge(df_dep, on = 'department_id')

In [10]:
df_cust_depts.columns

Index(['order_id', 'user_id', 'order_num_of_customer', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_last_order', 'product_id',
       'add_to_cart_order', 'reordered', 'product_name', 'aisle_id',
       'department_id', 'prices', '_merge', 'price_range_loc', 'busiest_day',
       'busiest_days', 'busiest_hours', 'max_order', 'loyalty_flag',
       'purchase_price', 'spending_flag', 'median_purchase', 'order_fr_flag',
       'first_name', 'last name', 'sex', 'state', 'age', 'date_joined',
       'n_dependants', 'fam_status', 'income', 'region', 'exclusion_loc',
       'age_group', 'income_group', 'department'],
      dtype='object')

In [13]:
pd.set_option('display.max_columns', None)

In [14]:
df_cust_depts.head()

,order_id,user_id,order_num_of_customer,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_hours,max_order,loyalty_flag,purchase_price,spending_flag,median_purchase,order_fr_flag,first_name,last name,sex,state,age,date_joined,n_dependants,fam_status,income,region,exclusion_loc,age_group,income_group,department
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,South,high-activity customer,30-39,Working,beverages
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Average orders,10,New customer,6.367797,Low spender,20.5,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,South,high-activity customer,30-39,Working,beverages
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Most orders,10,New customer,6.367797,Low spender,20.5,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,South,high-activity customer,30-39,Working,beverages
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy days,Average orders,10,New customer,6.367797,Low spender,20.5,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,South,high-activity customer,30-39,Working,beverages
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy days,Most orders,10,New customer,6.367797,Low spender,20.5,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,South,high-activity customer,30-39,Working,beverages

# Create masks for dependants and family types

In [16]:
mask = (df_cust_depts['n_dependants'] > 0) & (df_cust_depts['department'] == 'babies')
df_cust_depts['dependent_type'] = df_cust_depts.groupby('user_id')['user_id'].transform(
    lambda x: 'babies in household' if any(mask[x.index]) else 'no babies in household')

In [19]:
df_cust_depts.head()

,order_id,user_id,order_num_of_customer,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_hours,max_order,loyalty_flag,purchase_price,spending_flag,median_purchase,order_fr_flag,first_name,last name,sex,state,age,date_joined,n_dependants,fam_status,income,region,exclusion_loc,age_group,income_group,department,dependent_type
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,South,high-activity customer,30-39,Working,beverages,no babies in household
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Average orders,10,New customer,6.367797,Low spender,20.5,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,South,high-activity customer,30-39,Working,beverages,no babies in household
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Most orders,10,New customer,6.367797,Low spender,20.5,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,South,high-activity customer,30-39,Working,beverages,no babies in household
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy days,Average orders,10,New customer,6.367797,Low spender,20.5,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,South,high-activity customer,30-39,Working,beverages,no babies in household
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy days,Most orders,10,New customer,6.367797,Low spender,20.5,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423,South,high-activity customer,30-39,Working,beverages,no babies in household

In [21]:
mask2 = (df_cust_depts['n_dependants'] > 0) & (df_cust_depts['age_group'] == '18-29')
df_cust_depts['parental_age'] = df_cust_depts.groupby('user_id')['user_id'].transform(
    lambda x: 'young parent' if any(mask2[x.index]) else 'older parent')

In [25]:
df_cust_depts.loc[(df_cust_depts['n_dependants'] > 0) & (df_cust_depts['age_group'] == 0), '18-29'] = 'young parent'

In [26]:
df_cust_depts['parental_age'].value_counts()

older parent    26594579
young parent     4369985
Name: parental_age, dtype: int64

In [28]:
df_cust_depts.loc[(df_cust_depts['fam_status'].isin(['divorced/widowed', 'living with parents and siblings', 'single'])) & (df_cust_depts['n_dependants'] == 0), 'family_type'] = 'single no dependents'
df_cust_depts.loc[(df_cust_depts['fam_status'].isin(['divorced/widowed', 'living with parents and siblings', 'single'])) & (df_cust_depts['n_dependants'] > 0), 'family_type'] = 'Single with dependents'
df_cust_depts.loc[(df_cust_depts['fam_status'] == 'married') & (df_cust_depts['n_dependants'] == 1), 'family_type'] = 'married no dependents'
df_cust_depts.loc[(df_cust_depts['fam_status'] == 'married') & (df_cust_depts['n_dependants'] > 1), 'family_type'] = 'married with dependents'

In [32]:
df_cust_depts['family_type'].value_counts()

married with dependents    14532650
single no dependents        7739681
married no dependents       7211061
Single with dependents      1481172
Name: family_type, dtype: int64

In [34]:
df_cust_depts.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'customer_departments_profile.pkl'))